// Base
@oct-background: #112a38;
@oct-darker: #0d212d; // @oct-background + rgba(0, 0, 0, 0.2);
@oct-text: #fff;
@oct-error: #ff5a5f;

// Primary
@oct-primary: #59d69d;
@oct-turquoise: #00b5ad;

// Highlight
@oct-gold: #ffec60;
@oct-purple: #fa8eea;
@oct-peach: #ff9797;
@oct-orange: #ffa163;
@oct-blue: #40a0d6;
@oct-green: #a3be8c;

// Misc
@oct-light-grey-1: #7b9aad;
@oct-dark-grey-1: #4c566a;
@oct-dark-grey-2: #3f4757;

@oct-dark-blue-1: #133550;

@oct-light-turquoise-1: #89caca;
@oct-dark-turquoise-1: #004650;
@oct-dark-turquoise-2: #0c363c;
@oct-dark-turquoise-3: #384d50;
