/*
 * Octopus dark UI theme by Peter Bartha
 */

// Base
@oct-background: #112a38;
@oct-darker: #0d212d; // @oct-background + rgba(0, 0, 0, 0.2);
@oct-darkest: #0c1921;
@oct-text: #fff;
@oct-error: #ff5a5f;

// Primary
@oct-primary: #59d69d;
@oct-primary-hover: #4fc38e;
@oct-turquoise: #00b5ad;
@oct-secondary: #2c4f5b;
@oct-secondary-hover: #45647b;

// Highlight
@oct-gold: #ffec60;
@oct-purple: #fa8eea;
@oct-peach: #ff9797;
@oct-orange: #ffa163;
@oct-blue: #40a0d6;
@oct-green: #a3be8c;

// Misc
@oct-light-grey-1: #7b9aad;
@oct-light-grey-2: #b6ddd8;
@oct-light-grey-3: #96c8da;
@oct-dark-grey-1: #4c566a;
@oct-dark-grey-2: #3f4757;


@oct-light-blue-1: #54c8ff;
@oct-dark-blue-1: #133550;

@oct-light-turquoise-1: #89caca;
@oct-light-turquoise-2: #398e67;
@oct-dark-turquoise-1: #004650;
@oct-dark-turquoise-2: #0c363c;
@oct-dark-turquoise-3: #384d50;


@oct-border-1: #1c3b4c;
@oct-border-2: #152e3c;
